<%= render partial: 'layouts/header' %>
<div class="container-fluid container-main">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>

  	<div class="col col-md-10 clearfix">
  	<%= render partial: 'layouts/flash' %>
  	<h2>日記を編集</h2>
  	<%= render 'blogs/form', blog: @blog %>
    </div>

  </div>
</div>