<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>

  	<div class="col col-xs-10">
  	<%= render partial: 'layouts/flash' %>
  	<h2>ブログ編集</h2>
  	<%= render 'drafts/form', draft: @blog %>
    </div>

  </div>
</div>