<%= render partial: 'layouts/header' %>
<div class="container-fluid">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>

  	<div class="col col-10 cleafix">
  	<%= render partial: 'layouts/flash' %>
  	<h2>新しい記事を書く</h2>
  	<%= render 'blogs/form', blog: @blog %>
    </div>

  </div>
</div>