<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-xs-10">
  	  <%= render partial: 'layouts/flash' %>

      <div>
        <h3>検索結果画面</h3>
    </div>
  </div>
</div>
