<%= render partial: 'layouts/header' %>
<div class="container-fluid container-main">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-md-10">
  	  <%= render partial: 'layouts/flash' %>
  	  <div>
  	  	<%= render 'topics/form', topic: @topic %>
  	  </div>
    </div>
  </div>
</div>
