<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-xs-10">
  	<%= render partial: 'layouts/flash' %>
    </div>
  </div>
</div>
<h1>Topics#show</h1>
<p>Find me in app/views/topics/show.html.erb</p>
