<%= render partial: 'layouts/header' %>
<div class="container-fluid container-main">
  <div class="row">

  	<% if user_signed_in? %>
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<% end %>

  	<div class="col col-md-10 col-body">
  	  <%= render partial: 'layouts/flash' %>
  	  <h2>スタンプ数ランキング</h2>
  	  <p>ここでは、読者からの反応が多かった日記を、スタンプの種類ごとに集計しています。<br>
  	  スタンプは全5種類。面白い文章からお役立ち記事まで、みんなが注目している日記をチェックしてみましょう！</p>

  	  <div class="row-content">
  	  	<h3>いいね</h3>
  	  	<!-- each文で上位記事をループ -->
  	  </div>

  	  <div class="row-content">
  	  	<h3>なるほど</h3>
  	  	<!-- each文で上位記事をループ -->
  	  </div>

  	  <div class="row-content">
  	  	<h3>おもしろい</h3>
  	  	<!-- each文で上位記事をループ -->
  	  </div>

  	  <div class="row-content">
  	  	<h3>スター</h3>
  	  	<!-- each文で上位記事をループ -->
  	  </div>

  	  <div class="row-content">
  	  	<h3>ありがとう</h3>
  	  	<!-- each文で上位記事をループ -->
  	  </div>
  	</div>

  </div>
</div>