<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<% if user_signed_in? %>
  	  <%= render partial: 'layouts/sidebar', user: @user %>
  	<% end %>
  	<div class="col col-xs-10">
  	  <%= render partial: 'layouts/flash' %>
  	  <div>新着記事</div>
  	  <div>人気記事</div>
  	  <div>回答受付中の質問</div>
    </div>
  </div>
</div>

