<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<% if user_signed_in? %>
  	  <%= render partial: 'layouts/sidebar', user: @user %>
  	<% end %>
  	<div class="col col-xs-10">
  	  <%= render partial: 'layouts/flash' %>
  	  <h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
    </div>
  </div>
</div>

