/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "summernote-bs4";

/* initialize */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display:block;
    clear:both;
}

/* フォント(class'himaji' or font-family: himaji;で呼び出せる) */
@font-face {
  font-family: 'himaji';
  src: font-url('himaji.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.himaji {
  font-family: 'himaji';
}

/* リッチテキストsummernote */
.note-editing-area {
    height: 500px;
}

/* スライドswiper */
.swiper-container {
    height: 200px;
}

.swiper-slide-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 3s ease 0s;
 }

.swiper-slide p {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #ffffff;
    font-size: 2rem;
}

.container {
  max-width: 2560px;
}

/* パーツ毎の設定 */
/* 全体のレイアウト */
header {
  background-color: #2eb872;
}

body {
  background-color: #feffe4;
}

.col-10 {
  padding: 32px;
  max-width: 80%;
}

footer {
  background-color: #2eb872;
  height: 100px;
}

/* ヘッダー */
.col-header {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #feffe4;
}

/* サイドバー */
#sidebar {
  background-color: #fff;
  margin: 10px;
  padding: 32px;
  position: relative;
  z-index: 1;
}
#sidebar::before,
#sidebar::after {
  border-radius: 4px;
  box-shadow: 0 1px 4px #a3de83;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
#sidebar::before {
  background-color: #a4f5c8;
  left: 0;
  top: 0;
  z-index: -1;
}
#sidebar::after {
  background-color: #2eb872;
  top: 5px;
  left: 5px;
  z-index: -2;
}

/* フォーム */

.field {
  padding-top: 30px;
  font-family: 'himaji';
}

.action {
  padding-top: 50px;
  font-family: 'himaji';
}