/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "summernote-bs4";

/* initialize */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display:block;
    clear:both;
}

p {
  margin: 0;
}

/* フォント(class'himaji' or font-family: himaji;で呼び出せる) */
@font-face {
  font-family: 'himaji';
  src: font-url('himaji.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.himaji {
  font-family: 'himaji';
}

.sans {
  font-family: 'sans-serif';
}

/* リッチテキストsummernote */
.note-editing-area {
    height: 500px;
}

.note-insert {
  visibility: hidden;
}

/* スライドswiper */
.swiper-container {
    height: 200px;
}

.swiper-slide-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 3s ease 0s;
 }

.swiper-slide p {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #ffffff;
    font-size: 2rem;
}

.row-content {
  padding-bottom: 50px;
}

/* 全体のレイアウト */
header {
  background-color: #2eb872;
}

.container-main {
  padding-top: 130px;
}

.col-body {
  padding: 30px;
}

.tablea {
  padding-top: 50px;
}

footer {
  background-color: #2eb872;
  height: 100px;
  margin-top: 10px;
}

.letter {
  color: #664539;
}

.attachment {
  border-radius: 10%;
}

.text-right {
  text-align: right;
}

/* ヘッダー */
.col-header {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #feffe4;
  font-family: 'himaji';
}

/* サイドバー */
#sidebar {
  background-color: #fff;
  padding: 32px;
  position: sticky;
  z-index: 1;
  top: 130px;
}
#sidebar::before,
#sidebar::after {
  border-radius: 4px;
  box-shadow: 0 1px 4px #a3de83;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
#sidebar::before {
  background-color: #a4f5c8;
  left: 0;
  top: 0;
  z-index: -1;
}
#sidebar::after {
  background-color: #2eb872;
  top: 5px;
  left: 5px;
  z-index: -2;
}

/* ユーザ用 金・銀枠 */
.border-gold {
  border: 5px solid #edde7b;
}

.border-silver {
  border: 5px solid #bbdbf3;
}

/* フォーム */

.field {
  padding-top: 30px;
}

.field-content {
  font-family: 'himaji';
  font-size: 1.5em;
}

.action {
  padding-top: 50px;
  font-family: 'himaji';
}

/* ボタン */
.btn-green {
  padding: 0.5em;
  color: #feffe4;
  text-align: center;
  background-color: #2eb872;
  border: 3px solid #2eb872;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.btn-green-new {
  padding: 0.5em;
  color: #2eb872;
  text-align: center;
  background-color: #a4f5c8;
  border: 3px solid #2eb872;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.btn-brown-outline {
  padding: 0.5em;
  color: #664539;
  text-align: center;
  background-color: #a4f5c8;
  border: 3px solid #664539;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.btn-brown {
  padding: 0.5em;
  color: #feffe4;
  text-align: center;
  background-color: #664539;
  border: 3px solid #664539;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.btn-crud-green {
  padding: 0.3em;
  font-size: 15px;
  color: #feffe4;
  text-align: center;
  background-color: #2eb872;
  border:2px solid #2eb872;
  border-radius: 20px 10px 40px 15px/50px 40px 10px 20px;
}

.btn-crud-red {
  padding: 0.3em;
  font-size: 15px;
  color: #feffe4;
  text-align: center;
  background-color: #F94659;
  border:2px solid #F94659;
  border-radius: 20px 10px 40px 15px/50px 40px 10px 20px;
}

.btn-crud-brown {
  padding: 0.3em;
  font-size: 15px;
  color: #feffe4;
  text-align: center;
  background-color: #664539;
  border:2px solid #664539;
  border-radius: 20px 10px 40px 15px/50px 40px 10px 20px;
}

/* aboutページ機能一覧 */
.about-content {
  float: left;
  text-align: center;
  padding-top: 30px;
}

/* ページャ(kaminari) */
.kaminari {
  padding-top: 30px;
}

.pagination>li>a {
  border: none;
  background-color: #feffe4;
}

.page-link {
  color: #664539;
}

.page-link:hover {
  color: #2eb872;
  background-color: #a4f5c8;
  border-radius: 50%
}
.page-item.active>.page-link {
  color: #feffe4;
  background-color: #2eb872;
  border-radius: 50%;
}


