<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>

  	<div class="col col-xs-10">
  	<%= render partial: 'layouts/flash' %>
  	<h2>新規下書き</h2>
  	<%= render 'form', draft: @draft %>
    </div>

  </div>
</div>