<footer class="container-fluid">
  <div class="row">
    <p class="footer-message">
      <span class="footer-message-col">Copyright © 2020 GreenFingers, </span>
      <span class="footer-message-col">All Rights Reserved.</span>
    </p>
  </div>
</footer>