<footer class="container">
  <div class="row">
    <p class="himaji" style="line-height: 100px; margin: 0 auto; color: #feffe4;">Copyright © 2020 GreenFingers, All Rights Reserved.</p>
  </div>
</footer>