<div class="col col-xs-2">
  <table>
  	<thead>
  		<tr>
  			<th>User Info</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>name<br>
  			  <%= @user.name %></td>
  		</tr>
  		<tr>
  			<td>introduction<br>
  			  <%= @user.introduction %></td>
  		</tr>
  	</tbody>
  </table>
</div>